@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

/*Cellphone*/
@media (min-width:300px) and (max-width: 599px) {
  body {
    box-sizing: border-box;
    font-family: 'Roboto+Condensed', serif;
    background-color: #f5edc9;
    color: #804922;
    position: absolute;
  }

  /*Header*/
  .header-image-title {
    margin-top: 70px;
    width:100%;
  }

  .nav {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  
  .nav-button-selected {
    font-weight: bold;
    font-size: 15px;
    color: #804922;
  }
  
  .nav-button {
    font-weight: lighter;
    font-size: 15px;
    color: #804922;
  }
  
  .nav-underline {
    color: #804922;
    position: relative;
    text-decoration: none;
  }
  
  .nav-underline:hover {
    color: #804922;
  }
  
  .nav-underline:hover::after {
    content: "";
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    border: 1px solid #804922;
  }

  /*Social Networks*/
  .social-network-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .social-network-image {
    width: 80px;
  }

  /*Budget*/
  .header-image-title {
    width:100%;
  }

  .questions-container {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding-top: 100px; 
    padding-bottom: 100px;
  }

  .question-container {
    width: 80%;
  }

  .question-image {
    width: 10%;
  }

  .question-para {
    text-align: center;
    width: 80%;  
    display: inline-block; 
    margin-left: 10px; 
    background-color: #e7b03d; 
    border-radius: 25px;
  }

  .capcha-container {
    display: flex; 
    justify-content: center; 
    margin-bottom: 50px;
  }

  .button-container {
    display: flex; 
    justify-content: center; 
    margin-bottom: 25px;
  }

  .button {
    background-color: #D7AD48;
    color: #804922;
    border-radius: 5px;
  }

  /*FAQ*/
  .faq-container {
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
  }

  .faq-item {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
  }

  .faq-title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }

  /*Footer*/
  .footer-logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
    margin-bottom: 50px;
    margin-top: 30px;
  }
}

/*Tablet*/
@media (min-width: 600px) and (max-width: 990px) {
  body {
    box-sizing: border-box;
    font-family: 'Roboto+Condensed', serif;
    background-color: #f5edc9;
    color: #804922;
    position: absolute;
  }

  /*Header*/
  .header-image-title {
    margin-top: 70px;
    width:100%;
  }

  .nav {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  
  .nav-button-selected {
    font-weight: bold;
    font-size: 15px;
    color: #804922;
  }
  
  .nav-button {
    font-weight: lighter;
    font-size: 15px;
    color: #804922;
  }
  
  .nav-underline {
    color: #804922;
    position: relative;
    text-decoration: none;
  }
  
  .nav-underline:hover {
    color: #804922;
  }
  
  .nav-underline:hover::after {
    content: "";
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    border: 1px solid #804922;
  }

  /*Social Networks*/
  .social-network-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    margin-bottom: 50px;
    padding-left: 180px;
    padding-right: 180px;
  }
  
  .social-network-image {
    width: 130px;
  }
  
  /*Budget*/
  .header-image-title {
    width:100%;
  }

  .questions-container {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center; 
    padding-left: 50px; 
    padding-right: 50px; 
    padding-top: 100px; 
    padding-bottom: 100px;
  }

  .question-container {
    width: 40%;
  }

  .question-image {
    width: 10%;
  }

  .question-para {
    text-align: center;
    width: 80%;  
    display: inline-block; 
    margin-left: 10px; 
    background-color: #e7b03d; 
    border-radius: 25px;
  }

  .capcha-container {
    display: flex; 
    justify-content: center; 
    margin-bottom: 50px;
  }

  .button-container {
    display: flex; 
    justify-content: center; 
    margin-bottom: 50px;
  }

  .button {
    background-color: #D7AD48;
    color: #804922;
    border-radius: 5px;
  }

  /*FAQ*/
  .faq-container {
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
  }

  .faq-item {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
  }

  .faq-title {
    font-weight: bold;
    font-size: 20px;
  }

  /*Footer*/
  .footer-logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

/*Desktop*/
@media (min-width:991px) {
  body {
    box-sizing: border-box;
    font-family: 'Roboto+Condensed', serif;
    background-color: #f5edc9;
    color: #804922;
  }

  /*Header*/
  .header-image-title {
    width: 100%; 
  }

  .nav {
    padding-left: 90px;
    padding-right: 90px;
    margin-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  
  .nav-button-selected {
    font-weight: bold;
    font-size: 30px;
    color: #804922;
  }
  
  .nav-button {
    font-weight: lighter;
    font-size: 30px;
    color: #804922;
  }
  
  .nav-underline {
    color: #804922;
    position: relative;
    text-decoration: none;
  }
  
  .nav-underline:hover {
    color: #804922;
  }
  
  .nav-underline:hover::after {
    content: "";
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    border: 1px solid #804922;
  }

  /*Social Networks*/
  .social-network-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 130px;
  }

  .social-network-image {
    width: 130px;
  }

  /*Budget*/
  .header-image-title {
    width:100%;
  }

  .questions-container {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center; 
    padding-left: 50px; 
    padding-right: 50px; 
    padding-top: 100px; 
    padding-bottom: 100px;
  }

  .question-container {
    width: 40%;
  }

  .question-image {
    width: 10%;
  }

  .question-para {
    text-align: center;
    width: 80%;  
    display: inline-block; 
    margin-left: 10px; 
    background-color: #e7b03d; 
    border-radius: 25px;
  }

  .capcha-container {
    display: flex; 
    justify-content: center; 
    margin-bottom: 50px;
  }

  .button-container {
    display: flex; 
    justify-content: center; 
    margin-bottom: 50px;
  }

  .button {
    background-color: #D7AD48;
    color: #804922;
    border-radius: 5px;
  }

  /*FAQ*/
  .faq-container {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
  }

  .faq-item {
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .faq-title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }

  /*Footer*/
  .footer-logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}