@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

/*Cellphone*/
@media (min-width:300px) and (max-width: 599px) {
  body {
    box-sizing: border-box;
    font-family: 'Roboto+Condensed', serif;
    background-color: #f5edc9;
    color: #804922;
    position: absolute;
  }

  /*Header*/
  .header-image-title {
    margin-top: 70px;
    width:100%;
  }

  .nav {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  
  .nav-button-selected {
    font-weight: bold;
    font-size: 15px;
    color: #804922;
  }
  
  .nav-button {
    font-weight: lighter;
    font-size: 15px;
    color: #804922;
  }
  
  .nav-underline {
    color: #804922;
    position: relative;
    text-decoration: none;
  }
  
  .nav-underline:hover {
    color: #804922;
  }
  
  .nav-underline:hover::after {
    content: "";
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    border: 1px solid #804922;
  }

  /*Carousel*/
  .header-carousel {
    width: 50%; 
    margin: auto; 
    margin-top: 30px; 
    margin-bottom: 50px;
  }

  /*Our Team Container*/
  .our-team-header-image-title {
    width:100%;
  }

  .our-team-first-container {
    display: flex; 
    flex-direction: column;
  }

  .our-team-image-container {
    width: 100%;
  }

  .our-team-first-image {
    width: 100%; 
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 50px;
  }

  .our-team-info-first-container {
    width: 100%;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .our-team-info-title {
    text-align: center; 
    font-weight: bold;
  }

  .our-team-info-para {
    font-weight: lighter; 
    font-size: 20px;
  }

  .our-team-second-container {
    display: flex; 
    flex-direction: column-reverse;
  }

  .our-team-second-image {
    width: 100%; 
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 50px;
  }

  .our-team-info-second-container {
    width: 100%;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;

  }

   /*Social Networks*/
   .separator-image {
    display: none;
  }

  .social-network-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .social-network-image {
    width: 80px;
  }

  /*Footer*/
  .footer-logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
    margin-bottom: 50px;
    margin-top: 30px;
  }
}

/*Tablet*/
@media (min-width: 600px) and (max-width: 990px) {
  body {
    box-sizing: border-box;
    font-family: 'Roboto+Condensed', serif;
    background-color: #f5edc9;
    color: #804922;
    position: absolute;
  }

  /*Header*/
  .header-image-title {
    margin-top: 70px;
    width:100%;
  }

  .nav {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  
  .nav-button-selected {
    font-weight: bold;
    font-size: 15px;
    color: #804922;
  }
  
  .nav-button {
    font-weight: lighter;
    font-size: 15px;
    color: #804922;
  }
  
  .nav-underline {
    color: #804922;
    position: relative;
    text-decoration: none;
  }
  
  .nav-underline:hover {
    color: #804922;
  }
  
  .nav-underline:hover::after {
    content: "";
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    border: 1px solid #804922;
  }

  /*Carousel*/
  .header-carousel {
    width: 50%; 
    margin: auto; 
    margin-top: 30px; 
    margin-bottom: 50px;
  }

  /*Our Team Container*/
  .our-team-header-image-title {
    width:100%;
  }

  .our-team-first-container {
    display: flex; 
    flex-direction: column;
  }

  .our-team-image-container {
    width: 100%;
  }

  .our-team-first-image {
    width: 100%; 
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 50px;
  }

  .our-team-info-first-container {
    width: 100%;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .our-team-info-title {
    text-align: center; 
    font-weight: bold;
  }

  .our-team-info-para {
    font-weight: lighter; 
    font-size: 20px;
  }

  .our-team-second-container {
    display: flex; 
    flex-direction: column-reverse;
  }

  .our-team-second-image {
    width: 100%; 
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 50px;
  }

  .our-team-info-second-container {
    width: 100%;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;

  }

   /*Social Networks*/
   .separator-image {
    display: none;
  }

  .social-network-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    margin-bottom: 50px;
    padding-left: 180px;
    padding-right: 180px;
  }

  .social-network-image {
    width: 130px;
  }

  /*Footer*/
  .footer-logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

/*Desktop*/
@media (min-width:991px) {
  body {
    box-sizing: border-box;
    font-family: 'Roboto+Condensed', serif;
    background-color: #f5edc9;
    color: #804922;
  }

  /*Header*/
  .header-image-title {
    width: 100%; 
  }

  .nav {
    padding-left: 90px;
    padding-right: 90px;
    margin-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  
  .nav-button-selected {
    font-weight: bold;
    font-size: 30px;
    color: #804922;
  }
  
  .nav-button {
    font-weight: lighter;
    font-size: 30px;
    color: #804922;
  }
  
  .nav-underline {
    color: #804922;
    position: relative;
    text-decoration: none;
  }
  
  .nav-underline:hover {
    color: #804922;
  }
  
  .nav-underline:hover::after {
    content: "";
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    border: 1px solid #804922;
  }

  /*Carousel*/
  .header-carousel {
    width: 50%; 
    margin: auto; 
    margin-top: 30px; 
    margin-bottom: 50px;
  }

  /*Our Team Container*/
  .our-team-header-image-title {
    width:100%;
  }
  
  .our-team-first-container {
    display: flex; 
    flex-direction: row;
  }

  .our-team-image-container {
    width: 50%;
  }

  .our-team-first-image {
    width: 100%; 
    padding: 100px;
  }

  .our-team-info-first-container {
    width: 50%;
    padding-top: 120px; 
    padding-right: 170px;
  }

  .our-team-info-title {
    text-align: center; 
    font-weight: bold;
  }

  .our-team-info-para {
    font-weight: lighter; 
    font-size: 20px;
  }

  .our-team-second-container {
    display: flex; 
    flex-direction: row;
  }

  .our-team-second-image {
    width: 100%; 
    padding-left: 100px;
    padding-right: 100px;
  }

  .our-team-info-second-container {
    width: 50%;
    padding-left: 170px;
    padding-right: 100px;

  }

   /*Social Networks*/
   .separator-image {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .social-network-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    margin-bottom: 50px;
  }

  .social-network-image {
    width: 130px;
  }

  /*Footer*/
  .footer-logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}